/* Pico-8 Colors */

@define-color black #000000;
@define-color dark-blue #1D2B53;
@define-color purple #1D2B53;
@define-color dark-green #008751;
@define-color brown #AB5236;
@define-color dark-grey #5F574F;
@define-color grey #C2C3C7;
@define-color white #FFF1E8;
@define-color red #FF004D;
@define-color orange #FFA300;
@define-color yellow #FFEC27;
@define-color light-green #00E436;
@define-color light-blue #29ADFF;
@define-color lavender #83769C;
@define-color pink #FF77A8;
@define-color peach #FFCCAA;

/* Styles */

* { 
	padding: 0;
	margin: 0;	
	color: @white;
}

window#waybar {
	background: transparent;
	min-height: .25rem;
	font-size: 1rem;
}

.modules-left,
.modules-center,
.modules-right {
	background: transparent;
	border: .15rem solid @red;
	border-radius: 2rem;
	padding: .125rem .25rem;
	margin: .125rem;
}

#battery {
	color: @light-green;
	background-image: linear-gradient(to right, @light-green, transparent);
}

#cpu {
	color: @light-blue;
	background-image: linear-gradient(to right, @light-blue, transparent);
}

#memory {
	color: @orange;
	background-image: linear-gradient(to right, @orange, transparent);
}

#disk {
	/*background-color: @brown;*/
	background-image: linear-gradient(to right, @brown, transparent);
}

#cpu.10, #memory.10, #battery.10 {
	background-image: linear-gradient(to right, currentColor 10%, transparent);
}

#cpu.17, #memory.17, #battery.17  {
	background-image: linear-gradient(to right, currentColor 17%, transparent);
}

#cpu.25, #memory.25, #battery.25  {
	background-image: linear-gradient(to right, currentColor 25%, transparent);
}

#cpu.37, #memory.37, #battery.37  {
	background-image: linear-gradient(to right, currentColor 37%, transparent);
}

#cpu.15, #memory.15 {
	background-image: linear-gradient(to right, currentColor 15%, transparent);
}

#cpu.15, #memory.15 {
	background-image: linear-gradient(to right, currentColor 15%, transparent);
}

#cpu.15, #memory.15 {
	background-image: linear-gradient(to right, currentColor 15%, transparent);
}

#battery, #cpu, #memory, #disk {
	min-width: 6rem;
	margin: 0 .5rem 0 .5rem;
	background-position: 100% 85%;
	background-size: 55% 0.5rem;
	background-repeat: no-repeat; 
}
